<ion-header class="ion-no-border" [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref *ngIf="params" [routerLink]="['/tabs', 'restaurants', params.id]"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

	<div id="container">
		<div class="ion-text-center ion-margin-bottom">
		</div>
		<form [formGroup]="form">
			<ion-grid>
				<ion-row class="ion-justify-content-center">
					<ion-col size="10" class="m-b">
						<ion-item class="ion-no-padding ion-no-margin">
							<ion-label position="floating">Custom Order.</ion-label>
							<ion-textarea formControlName="message"></ion-textarea>
						</ion-item>
						<ion-text color="primary">
							<p class="ion-no-margin ion-no-padding"><small>Tell us more about you special order.</small></p>
						</ion-text>
						<ion-col class="ion-no-padding" *ngIf="form.controls.message.dirty">
							<ion-text color="danger" *ngIf="form.controls.message.errors?.required">The message is required.</ion-text>
							<ion-text color="danger" *ngIf="form.controls.message.errors?.minlength">The message must have a minimum of 30 characters.</ion-text>
							<ion-text color="danger" *ngIf="form.controls.message.errors?.maxlength">The message must have a maximum of 255 characters.</ion-text>
						</ion-col>
					</ion-col>
					<ion-col size="10" class="m-t">
						<ion-button (click)="send()" [disabled]="form.invalid" type="submit" expand="block" fill="outline">
							Send Order
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</form>
	</div>

</ion-content>