<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title slot="start">Cart</ion-title>
		<ion-button slot="end" [routerLink]="['/tabs', 'checkout']" [disabled]="carts?.length === 0" fill="outline" class="ion-padding-end">
			Checkout <ion-icon name="cart-outline" slot="end"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-list class="cart-list">
		<div *ngFor="let cart of carts">
			<app-cart [cart]="cart"></app-cart>
		</div>
	</ion-list>
</ion-content>

<ion-list [translucent]="true">
	<ion-item lines="none" *ngIf="carts">
		<ion-text slot="start">Items: ({{ carts?.length }})</ion-text>
		<ion-text slot="end">Cart Total: R{{ total() }}</ion-text>
	</ion-item>
</ion-list>