ion-slides {
  height: 100%;
}

.swiper-slide {
  position: relative;
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

.swiper-slide h2 {
  margin-top: 1.8rem;
  font-family: -futuraStd-heavy;
}

.swiper-slide img {
  height: 200px;
  margin: 0;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}
