<ion-content fullscreen class="ion-padding" scroll-y="false">
	<ion-slides pager fullscreen>

		<ion-slide>
			<div class="slide">
				<img src="./assets/sliders/welcome/burger-and-chips.png"/>
				<h2>KasiFoods</h2>
				<p>KasiFoods is a food delivery application for local restaurants.</p>
			</div>
		</ion-slide>

		<ion-slide>
			<div class="slide">
				<img src="./assets/sliders/welcome/online-order.png"/>
				<h2>Order Online</h2>
				<p>Are you looking for something to eat on the go? Kasi Foods has you covered with your favorite kasi restaurants at your finger tips.</p>
			</div>
		</ion-slide>

		<ion-slide>
			<div class="slide">
				<img src="./assets/sliders/welcome/delivery.png"/>
				<h2>Cheap Reliable Delivery</h2>
				<p>Kasi food offers cheap and reliable delivery, from as little as R10 within a 10 km radius of your favorite kasi restaurant.</p>
			</div>
		</ion-slide>

		<ion-slide>
			<div class="slide">
				<img src="./assets/sliders/welcome/mtnmom.png"/>
				<h2>MTN MOMO Payment</h2>
				<p>Kasi food supports MTN mobile money payment for easy payment.</p>
			</div>
		</ion-slide>

		<!-- <ion-slide>
			<div class="slide">
				<img src="../../../assets/sliders/welcome/ayoba.png"/>
				<h2>MTN Ayoba Chat</h2>
				<p>Order special meals for special occasions at the click of a button. Kasi Foods supports MTN Ayoba so you can directly contact the restaurant to customize your orders.</p>
			</div>
		</ion-slide> -->

		<ion-slide>
			<div class="slide">
				<img src="./assets/sliders/welcome/get-started.png" />
				<h2 class="ion-padding-bottom">Ready to Visit Kasi Restaurant's?</h2>
				<ion-button (click)="authentication()" fill="outline" class="ion-text-capitalize ion-padding-end">
					Get Started <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
				</ion-button>
			</div>
		</ion-slide>

	</ion-slides>
</ion-content>
