<ion-header class="ion-no-border" [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button [routerLink]="['/tabs', 'checkout']"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

	<div id="container">
		<div class="ion-text-center ion-margin-bottom">
		</div>
		<form [formGroup]="form">
			<ion-grid>
				<ion-row>
					<ion-col size="3" offset="2" class="ion-align-self-center">
						<img src="./assets/sliders/welcome/mtnmom.png" style="width: 100%;">
					</ion-col>
					<ion-col size="5" class="ion-align-self-center">
						<h2 class="ion-no-padding ion-no-margin"><strong>Y`ello,</strong></h2>
						<p class="ion-no-padding ion-no-margin"><strong>Pay with MoMo</strong></p>
					</ion-col>
				</ion-row>
				<ion-row class="ion-justify-content-center">
					<ion-col size="10" class="m-b">
						<ion-item class="ion-no-padding ion-no-margin">
							<ion-label position="floating">Cellphone Number.</ion-label>
							<ion-input type="tel" formControlName="cellphone_number"></ion-input>
						</ion-item>
						<ion-text color="primary">
							<p class="ion-no-padding ion-no-margin"><small>Delivery fee include`s R10 in your total amount.</small></p>
						</ion-text>
						<ion-col class="ion-no-padding" *ngIf="form.controls.cellphone_number.dirty">
							<ion-text color="danger" *ngIf="form.controls.cellphone_number.errors?.required">The cellphone number is required.</ion-text>
							<ion-text color="danger" *ngIf="form.controls.cellphone_number.errors?.minlength">The cellphone number must have minimum of 10.</ion-text>
							<ion-text color="danger" *ngIf="form.controls.cellphone_number.errors?.maxlength">The cellphone number must have maximum of 14.</ion-text>
						</ion-col>
					</ion-col>
					<ion-col size="10" class="m-t">
						<ion-button (click)="pay()" type="submit" expand="block" fill="outline">
							Pay Now
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</form>
	</div>

</ion-content>
