<ion-item class="ion-text-wrap">
	<ion-thumbnail slot="start">
		<img [src]="cart.cartable.image.url">
	</ion-thumbnail>
	<ion-grid>
		<ion-row>
			<ion-col size="8">
				<b>{{ cart.cartable.name | slice:0:15 }}{{ cart.cartable.name.length > 15 ? '...' : '' }}</b>
			</ion-col>
			<ion-col size="4" class="ion-text-end">
				R{{ cart.cartable.price }}
			</ion-col>
		</ion-row>
		<ion-row class="ion-align-self-center ion-text-center">
			<ion-col size="2" class="ion-align-self-center">
				<ion-button (click)="decrementCart()" [disable]="cart.quantity === 1" color="medium" fill="clear" class="ion-no-padding ion-no-margin">
					<ion-icon color="primary" name="remove-circle" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-col>
			<ion-col size="1" class="ion-align-self-center ion-no-padding ion-no-margin">
				{{ cart.quantity }}
			</ion-col>
			<ion-col size="2" class="ion-align-self-center">
				<ion-button (click)="incrementCart()" color="medium" fill="clear" class="ion-no-padding ion-no-margin">
					<ion-icon color="primary" name="add-circle" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-col>
			<ion-col size="2" offset="5">
				<ion-button (click)="removeCart()" color="medium" fill="clear">
					<ion-icon name="close-circle" color="danger" slot="icon-only"></ion-icon>
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-item>