<ion-header class="ion-no-border" [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button [routerLink]="['/tabs', 'profile']"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

	<div id="container">
		<div class="ion-text-center ion-margin-bottom">
		</div>
		<form [formGroup]="form">
			<ion-grid>
				<ion-row class="ion-justify-content-center">
					<ion-col size="10" class="m-b">
						<ion-item class="ion-no-padding ion-no-margin">
							<ion-label position="floating">ID Number.</ion-label>
							<ion-input type="tel" formControlName="id_number"></ion-input>
						</ion-item>
						<ion-text color="primary">
							<p class="ion-no-margin ion-no-padding"><small>Verify account to deliver or open a restaurant.</small></p>
						</ion-text>
						<ion-col class="ion-no-padding" *ngIf="form.controls.id_number.dirty">
							<ion-text color="danger" *ngIf="form.controls.id_number.errors?.required">The ID number is required.</ion-text>
							<ion-text color="danger" *ngIf="form.controls.id_number.errors?.minlength">ID number must have minimum of 13 digits.</ion-text>
							<ion-text color="danger" *ngIf="form.controls.id_number.errors?.maxlength">ID number must have maximum of 13 digits.</ion-text>
						</ion-col>
					</ion-col>
					<ion-col size="10" class="m-t">
						<ion-button (click)="verify()" [disabled]="form.invalid" type="submit" expand="block" fill="outline">
							Verify Account
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</form>
	</div>

</ion-content>