.profile-picture-background {
	width: 100%;
	height: 270px;
	background-color: var(--ion-color-primary);
	color: #fff;
}

.profile-picture-background .profile-picture {
	width: 90px;
	height: 90px;
	margin-top: 50px;
	border-radius: 100%;
	background-color: #fff;
}

.profile-picture-background .profile-name {
	margin: 10px 10px;
}
