<ion-content [fullscreen]="true" *ngIf="user">
	<div class="ion-text-center">
		<div class="profile-picture-background">
			<img class="profile-picture" [src]="user.avatar?.url" alt="avatar"/>
			<h2 class="profile-name">{{ user.name }}</h2>
			<ion-button (click)="logout()" color="light" fill="outline">Logout</ion-button>
		</div>

		<ion-list>

			<ion-item [routerLink]="['/tabs', 'profile']">
				<ion-icon slot="start" color="primary" name="create"></ion-icon>
				<ion-label>
					<h2>Edit Profile</h2>
				</ion-label>
			</ion-item>

			<ion-item [routerLink]="['/tabs', 'orders']">
				<ion-icon slot="start" color="primary" name="albums"></ion-icon>
				<ion-label>
					<h2>My Orders</h2>
				</ion-label>
			</ion-item>

			<ion-item [routerLink]="['/tabs', 'profile']">
				<ion-icon slot="start" color="primary" name="heart"></ion-icon>
				<ion-label>
					<h2>Favorites</h2>
				</ion-label>
			</ion-item>

			<ion-item [routerLink]="['/tabs', 'profile', 'verify']" *ngIf="!user?.id_number">
				<ion-icon slot="start" color="primary" name="checkmark-done-outline"></ion-icon>
				<ion-label>
					<h2>Verify Account</h2>
				</ion-label>
			</ion-item>

			<ion-item [routerLink]="['/tabs', 'profile']" *ngIf="user?.id_number">
				<ion-icon slot="start" color="primary" name="bicycle-outline"></ion-icon>
				<ion-label>
					<h2>Become A Delivery Person</h2>
				</ion-label>
			</ion-item>

			<ion-item [routerLink]="['/tabs', 'profile']" *ngIf="user?.id_number">
				<ion-icon slot="start" color="primary" name="storefront-outline"></ion-icon>
				<ion-label>
					<h2>Register Restaurant</h2>
				</ion-label>
			</ion-item>

			<ion-item [routerLink]="['/tabs', 'profile']">
				<ion-icon slot="start" color="primary" name="lock-closed"></ion-icon>
				<ion-label>
					<h2>Change Password</h2>
				</ion-label>
			</ion-item>

		</ion-list>

	</div>
</ion-content>