<ion-tabs>

	<ion-tab-bar slot="bottom">

		<ion-tab-button tab="restaurants">
			<ion-icon name="restaurant-outline"></ion-icon>
			<ion-label>Restaurants</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="foods">
			<ion-icon name="fast-food-outline"></ion-icon>
			<ion-label>Foods</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="cart">
			<ion-icon name="basket-outline"></ion-icon>
			<ion-label>Cart</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="profile">
			<ion-icon name="person-outline"></ion-icon>
			<ion-label>Profile</ion-label>
		</ion-tab-button>

	</ion-tab-bar>

</ion-tabs>