<ion-card class="food-cart" *ngIf="food">
	<img [src]="food.image.url">
	<ion-card-content class="ion-no-padding ion-no-margin">
		<ion-card-header class="ion-no-padding ion-no-margin">
			<ion-card-subtitle class="ion-no-padding ion-no-margin">
				<ion-label>{{ food.name | slice:0:15 }}{{ food.name.length > 15 ? '...' : '' }}</ion-label>
			</ion-card-subtitle>
		</ion-card-header>
		<ion-grid class="ion-no-padding ion-no-margin">
			<ion-row>
				<ion-col size="12">
					<ionic-rating-component ion-no-margin ion-no-padding #rating activeIcon="star"
						defaultIcon="star-outline" activeColor="#488aff" defaultColor="#f4f4f4"
						readonly="false" [rating]="3" fontSize="15px">
					</ionic-rating-component>
				</ion-col>
				<ion-col size="6" class="ion-text-start">
					<ion-button fill="none" class="ion-no-margin ion-no-padding">
						R{{ food.price }}
					</ion-button>
				</ion-col>
				<ion-col size="6" class="ion-text-end controls">
					<ion-button fill="none" class="ion-no-margin ion-no-padding">
						<ion-icon name="heart-outline"></ion-icon>
					</ion-button>
					<ion-button *ngIf="!food.cart" (click)="addCart()" fill="none" class="ion-no-margin ion-no-padding">
						<ion-icon name="basket-outline"></ion-icon>
					</ion-button>
					<ion-button *ngIf="food.cart" (click)="removeCart()" fill="none" class="ion-no-margin ion-no-padding">
						<ion-icon name="basket-outline" color="primary"></ion-icon>
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card-content>
</ion-card>