.food-cart img {
	width: 100%;
	height: 120px;
}

.food-cart ion-card-content {
	padding: 3px;
}

.food-cart ion-button:last-child {
	margin-left: 7px;
}

.food-cart ion-icon {
	font-size: 22px;
}

.food-cart .controls ion-button {
	padding: 5px 5px;
}
