<ion-header class="ion-no-border" [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref [routerLink]="['/tabs', 'profile']"></ion-back-button>
		</ion-buttons>
			<ion-text slot="end" class="ion-margin-end">Orders</ion-text>
	</ion-toolbar>
</ion-header>

<ion-content>
	
	<ion-refresher style="margin-bottom: 50px;" slot="fixed" id="refresher" (ionRefresh)="refreshOrders($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-list>
		<ion-item *ngFor="let order of orders?.data" [routerLink]="['/tabs', 'orders', order.id]">
			<ion-avatar slot="start">
				<img *ngIf="order.transaction.payment_method === 'momo'" src="./assets/payments/mtnmom.png">
			</ion-avatar>
			<ion-label>
				<h2>Price: R{{ order.amount }}</h2>
				<h3>Items: {{ order.quantity }}</h3>
				<p *ngIf="order.status === 'WAITING'" color="warning">Order is being prepared.</p>
				<p *ngIf="order.status === 'COLLECTED'" color="primary">Order is on you way be patient.</p>
				<p *ngIf="order.status === 'DELIVERED'" color="success">Order has been delivery.</p>
			</ion-label>
			<ion-badge *ngIf="order.status === 'WAITING'" color="warning" slot="end">WAITING</ion-badge>
			<ion-badge *ngIf="order.status === 'COLLECTED'" color="primary" slot="end">COLLECTED</ion-badge>
			<ion-badge *ngIf="order.status === 'DELIVERED'" color="success" slot="end">DELIVERED</ion-badge>
		</ion-item>
	</ion-list>

</ion-content>
