ion-content {
  margin-top: 0;
  padding-top: 0;
}

.payment {
  background-color: var(--ion-color-primary);
  padding-top: 35px;
  padding-bottom: 35px;
}

.payment-img {
  width: 100%;
  min-height: 75px;
  margin: 0;
  padding: 0;
}

.payment-selected {
  border: 3px solid var(--ion-color-primary);
}
