<ion-content fullscreen scroll-y="false">
	<div class="payment" color="primary">
		<ion-card class="ion-margin-top ion-margin-bottom">
			<ion-card-content>
				<ion-list>
					<ion-item lines="none">
						<ion-text>
							Payments Summary
						</ion-text>
					</ion-item>
					<ion-item>
						<ion-grid class="ion-no-margin ion-no-padding">
							<ion-row>
								<ion-col class="ion-padding-bottom">
									<ion-grid class="ion-no-margin ion-no-padding">
										<ion-row>
											<ion-col size="6">Items:</ion-col>
											<ion-col size="6" class="ion-text-end" *ngIf="carts">{{ carts.length }}</ion-col>
										</ion-row>
										<ion-row>
											<ion-col size="6">CartTotal:</ion-col>
											<ion-col size="6" class="ion-text-end" *ngIf="carts">R{{ cartTotal() }}</ion-col>
										</ion-row>
										<ion-row>
											<ion-col size="6">Delivery Fee:</ion-col>
											<ion-col size="6" class="ion-text-end">
												<ng-container *ngIf="paymentMethod === 'creditCard' || paymentMethod === 'momo'; else delivery">
													R10
												</ng-container>
												<ng-template #delivery>
													R0
												</ng-template>
											</ion-col>
										</ion-row>
										<ion-row *ngIf="paymentMethod">
											<ion-col size="6">Collection:</ion-col>
											<ion-col size="6" class="ion-text-end">
												<ng-container *ngIf="paymentMethod === 'creditCard' || paymentMethod === 'momo'; else collection">
													Delivery
												</ng-container>
												<ng-template #collection>
													Personal
												</ng-template>
											</ion-col>
										</ion-row>
									</ion-grid> 
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-item>
					<ion-item>
						<ion-grid class="ion-no-padding">
							<ion-row>
								<ion-col class="ion-padding-bottom ion-margin-top">
									<ion-grid class="ion-no-margin ion-no-padding">
										<ion-row>
											<ion-col size="6">Total Amount:</ion-col>
											<ion-col size="6" class="ion-text-end" *ngIf="carts">R{{ total() }}</ion-col>
										</ion-row>
									</ion-grid> 
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-item>
				</ion-list>
			</ion-card-content>
		</ion-card>
	</div>
	<ion-grid>
		<ion-row class="">
			<ion-col size="4">
				<ion-card (click)="payment('creditCard')" [ngClass]="{'payment-selected': paymentMethod === 'creditCard'}">
					<img class="payment-img" src="./assets/payments/credit-card.png">
				</ion-card>
			</ion-col>
			<ion-col size="4">
				<ion-card (click)="payment('momo')" [ngClass]="{'payment-selected': paymentMethod === 'momo'}">
					<img class="payment-img" src="./assets/payments/mtnmom.png">
				</ion-card>
			</ion-col>
			<ion-col size="4">
				<ion-card (click)="payment('collection')" [ngClass]="{'payment-selected': paymentMethod === 'collection'}">
					<img class="payment-img" src="./assets/payments/collection.png">
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button [disable]="!paymentMethod" (click)="pay()" expand="block" fill="outline">
					<strong>Pay</strong>
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
