<ion-header class="ion-no-border" [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-bottom">

	<div id="container">
		<div class="ion-text-center ion-margin-bottom">
			<img src="./assets/burger-and-chips.png">
		</div>
		<form [formGroup]="form">
			<ion-grid>
				<ion-row class="ion-justify-content-center">
					<ion-col size="11">
						<ion-item class="m-b">
							<ion-label position="floating">Name</ion-label>
							<ion-input type="text" formControlName="name"></ion-input>
						</ion-item>
						<ion-col class="ion-no-padding" *ngIf="form.controls.name.dirty">
							<ion-text color="danger" *ngIf="form.controls.name.errors?.required">The name is required.</ion-text>
						</ion-col>
					</ion-col>
					<ion-col size="11">
						<ion-item class="m-b">
							<ion-label position="floating">Email</ion-label>
							<ion-input type="email" formControlName="email"></ion-input>
						</ion-item>
						<ion-col class="ion-no-padding" *ngIf="form.controls.email.dirty">
							<ion-text color="danger" *ngIf="form.controls.email.errors?.required">The email is required.</ion-text>
						</ion-col>
					</ion-col>
					<ion-col size="11">
						<ion-item class="m-b">
							<ion-label position="floating">Password</ion-label>
							<ion-input type="password" formControlName="password"></ion-input>
						</ion-item>
						<ion-col class="ion-no-padding" *ngIf="form.controls.password.dirty">
							<ion-text color="danger" *ngIf="form.controls.password.errors?.required">The password is required.</ion-text>
						</ion-col>
					</ion-col>
					<ion-col size="11">
						<ion-item class="m-b">
							<ion-label position="floating">Password Confirmation</ion-label>
							<ion-input type="password" formControlName="password_confirmation"></ion-input>
						</ion-item>
					</ion-col>
					<ion-col size="11" class="ion-margin-top ion-padding-top">
						<ion-button type="submit" (click)="register()" expand="block" fill="outline" [disabled]="form.invalid">
							Sign Up
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
			<div class="ion-text-center ion-margin-top">
				<ion-text>
					Already have an account?<br>
					<a [routerLink]="['/authentication', 'login']" color="primary">Sign Up</a>
				</ion-text>
			</div>
		</form>
	</div>

</ion-content>
