<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button layout="ion-only">
				<ion-icon name="restaurant-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-searchbar mode="ios" style="padding: 16px 0px;"></ion-searchbar>
		<ion-buttons slot="end">
			<ion-button class="ion-text-capitalize">
				<ion-icon name="search"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-list class="ion-no-margin ion-no-padding">
		<ion-item *ngFor="let store of stores?.data">
			<ion-thumbnail slot="start">
				<ion-img [src]="store.image.url"></ion-img>
			</ion-thumbnail>
			<ion-list-content>
				<ion-card-title [routerLink]="['/tabs', 'restaurants', store.id]" class="ion-margin-top">{{ store.name | slice:0:15 }}{{ store.name.length > 25 ? '...' : '' }}</ion-card-title>
				<ion-text [routerLink]="['/tabs', 'restaurants', store.id]" ion-padding-top>{{ store.description | slice:0:80 }}{{ store.description.length > 80 ? '...' : '' }}</ion-text>
				<ion-grid>
					<ion-row>
						<ion-col size="6">
							<ion-button fill="clear" class="ion-no-padding" [routerLink]="['/tabs', 'restaurants', store.id, 'location']">
								<ion-icon name="location"></ion-icon>
								{{ (store?.address?.address + ' ' + store?.address?.city) | slice:0:15 }}{{ store.description.length > 15 ? '...' : '' }}
							</ion-button>
						</ion-col>
						<ion-col size="6" color="primary" class="ion-text-end">
							<ion-button fill="clear">
								<ion-icon name="heart-outline"></ion-icon>
							</ion-button>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-list-content>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll class="ion-margin-top" *ngIf="stores && stores.current_page !== stores.last_page" (ionInfinite)="getRestaurants($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Getting Restaurants...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>