<ion-header class="ion-no-border" [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="store">

	<img class="store-img" [src]="store.image.url">

	<ion-grid>
		<ion-row>
			<ion-col size="12">
				<ion-list-header class="ion-no-padding">
					<ion-item lines="none" class="ion-no-padding">
						<ion-icon name="person-outline" slot="start"></ion-icon>
						<ion-text>Owner</ion-text>
					</ion-item>
				</ion-list-header>
				<a href="tel:{{ store.user.phone_number }}">
					<ion-chip>
						<ion-avatar>
							<img src="./avatar.svg">
						</ion-avatar>
						<ion-label>{{ store.user.name }}</ion-label>
					</ion-chip>
				</a>
				<a href="tel:{{ store.phone_number }}">
					<ion-chip>
						<ion-icon name="call-outline"></ion-icon>
						<ion-label>{{ store.phone_number }}</ion-label>
					</ion-chip>
				</a>
				<a [routerLink]="['/tabs', 'restaurants', store.id, 'special-order']">
					<ion-chip>
						<ion-icon name="fast-food-outline"></ion-icon>
						<ion-label>Special Order</ion-label>
					</ion-chip>
				</a>
			</ion-col>
			<ion-col size="12">
				<ion-text>
					{{ store.description }}
				</ion-text>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12" class="ion-no-margin">
				<ion-list-header class="ion-no-padding">
					<ion-item lines="none" class="ion-no-padding">
						<ion-icon name="storefront-outline" slot="start"></ion-icon>
						<ion-text>Foods</ion-text>
					</ion-item>
				</ion-list-header>
			</ion-col>
			<ion-col size="6" *ngFor="let food of store.foods" class="ion-no-padding ion-no-margin">
				<app-food [food]="food"></app-food>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>