<ion-header class="ion-no-border" [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref [routerLink]="['/tabs', 'orders']"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" *ngIf="order">

	<ion-list-header>Payment Method</ion-list-header>
	<ion-chip class="ion-margin-start">
		<ion-avatar>
			<img *ngIf="order.transaction.payment_method === 'momo'" src="../../../assets/payments/mtnmom.png">
		</ion-avatar>
		<ion-label *ngIf="order.transaction.payment_method === 'momo'" class="ion-text-capitalize">MTN MoMo</ion-label>
	</ion-chip>

	<ion-list class="ion-margin-top">
		<ion-list-header>
			Order Items
		</ion-list-header>

		<ion-item *ngFor="let item of order.items">
			<ion-avatar slot="start">
				<img [src]="item.orderable.image.url">
			</ion-avatar>
			<ion-label>
				<ion-grid class="ion-no-padding">
					<ion-row class="ion-no-padding">
						<ion-col col="6" class="ion-no-padding">
							<h2>{{ item.orderable.name }}</h2>
						</ion-col>
						<ion-col col="6" class="ion-text-end ion-no-padding">
							<h2>R{{ item.price }}</h2>
						</ion-col>
					</ion-row>
				</ion-grid>
				<ion-grid class="ion-no-padding" style="margin-top: 5px; margin-bottom: 5px;">
					<ion-row class="ion-no-padding">
						<ion-col col="6" class="ion-no-padding">
							<h3>Quantity: {{ item.quantity }}</h3>
						</ion-col>
						<ion-col col="6" class="ion-text-end ion-no-padding">
							<ion-badge *ngIf="item.status === 'PREPARING'" color="warning">PREPARING</ion-badge>
							<ion-badge *ngIf="item.status === 'WAITING'" color="warning">WAITING</ion-badge>
							<ion-badge *ngIf="item.status === 'COLLECTED'" color="warning">COLLECTED</ion-badge>
						</ion-col>
					</ion-row>
				</ion-grid>
				<ion-text *ngIf="item.status === 'PREPARING'" color="warning">Being prepared by the store.</ion-text>
				<ion-text *ngIf="item.status === 'WAITING'" color="warning">Ready to be collected.</ion-text>
				<ion-text *ngIf="item.status === 'COLLECTED'" color="warning">Has been collected.</ion-text>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>

<ion-list [translucent]="true">
	<ion-item lines="none" *ngIf="order">
		<ion-text slot="start">Items: ({{ order.items.length }})</ion-text>
		<ion-text slot="end">Order Amount: R{{ order.amount }}</ion-text>
	</ion-item>
</ion-list>