<ion-content [fullscreen]="true">
	<div id="container">
		<h2 class="title ion-no-padding ion-no-margin">
			Welcome to <strong>KasiFoods</strong>
		</h2>
		<p class="subtitle ion-no-padding ion-no-margin">
			Explore Your Kasi Food
		</p>
		<img src="./assets/burger-and-chips.png">
		<ion-grid class="ion-padding-top">
			<ion-row class="ion-justify-content-center ion-padding-top">
				<ion-col size="10">
					<ion-button [routerLink]="['/authentication', 'login']" fill="outline" expand="block">
						Log In <ion-icon class="ion-margin-start" name="log-in-outline"></ion-icon>
					</ion-button>
				</ion-col>
				<ion-col size="10">
					<ion-button [routerLink]="['/authentication', 'register']" fill="outline" expand="block">
						Sign Up <ion-icon class="ion-margin-start" name="pencil-outline"></ion-icon>
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
