#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  transform: translateY(-30%);
}

#container .title {
  margin-top: 70px;
  margin-bottom: 5px;
  font-family: -futuraStd-medium;
}

#container .title strong {
  font-family: -futuraStd-heavy;
}

#container img {
  height: 160px;
  margin-top: 20px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container ion-button {
  font-size: -futuraStd-medium;
}
