<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button layout="ion-only">
				<ion-icon name="fast-food-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-searchbar mode="ios" style="padding: 16px 0px;"></ion-searchbar>
		<ion-buttons slot="end">
			<ion-button class="ion-text-capitalize">
				<ion-icon name="search"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

	<ion-grid>
		<ion-row>
			<ion-col size="6" *ngFor="let food of foods?.data" class="ion-no-padding ion-no-margin">
				<app-food [food]="food"></app-food>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-infinite-scroll class="ion-margin-top" *ngIf="foods && foods.current_page !== foods.last_page" (ionInfinite)="getFoods($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Getting Foods...">
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>