<ion-header class="ion-no-border" [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref [routerLink]="['/tabs', 'restaurants']"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
	<div style="height: 100%; width: 100%; display: block;" #map id="map-location-store"></div>
</ion-content>