
@font-face {
    font-family: -futuraStd-book;
	src: url(./fonts/FuturaStd-Book.otf)
}

@font-face {
    font-family: -futuraStd-heavy;
	src: url(./fonts/FuturaStd-Heavy.otf);
}

@font-face {
    font-family: -futuraStd-light;
	src: url(./fonts/FuturaStd-Light.otf)
}

@font-face {
    font-family: -futuraStd-medium;
	src: url(./fonts/FuturaStd-Medium.otf);
}

@font-face {
    font-family: -times;
    src: url(./../fonts/Times.dfont);
}

html * {
	font-family: -futuraStd-light;
}

.p-t {
    padding-top: 5px;
}

.p-b {
    padding-bottom: 5px;
}

.m-t {
    margin-top: 5px;
}

.m-b {
    margin-bottom: 5px;
}